
/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Open+Sans:ital,wght@1,300&family=Oswald&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #040404;
  --secondary-color: #cfd0d2;
  --accent1-color: #4973bc;
  --accent2-color: #ee0a0a;

  /* change the values below to your chosen font(s) */
  --heading-font: "Open Sans";
  --paragraph-font: "League Spartan, Open Sans";

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #4973bc;
  --nav-link-color: white;
  --nav-background-color: #040404;
  --nav-hover-link-color: #cfd0d2;
  --nav-hover-background-color: #5e4a4a;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */
body div {
  max-width: 1600px;
}
#content {
  /*margin-top:0%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;*/
  margin: 0 auto;
}
body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  background-color: #4973bc;
}
main {
  text-align: center;
}
#background {
  height: 725px;
}
.home-title {
  color: white;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
h4 {
  color: white;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
  background-color: black;
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
}
nav a {
  text-align: center;
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  color: white;
  text-decoration:none;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
  text-align: center;
}
nav a:hover {
  background-color: #cfd0d2;
  color:white;
  /*background-color: var(--nav-hover-background-color);*/
}
.book, .join {
  background-color: black;
  color: white;
  text-decoration:none;

}
.book:hover, .join:hover {
  background-color: black;
  color: white;
}
.msg h2 {
  color: white;
}
.msg p{
  color: white;
}
#background {
  background-color: #5e4a4a;
}
#hero-msg h1, #hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
.msg {
  background-color: #4973bc;
}

footer {
  background-color: #ee0a0a;
  color: black;
}
footer a{
  color: white;
  text-decoration:none;
}
footer a:hover {
  color: white;
}
footer p {
  font-size: 2.0em;
}
.logo {
  width: 80px;
}
footer p a:hover {
  text-decoration: underline;
}
.icon {
  width: 80px;
}
#hero-img {
  width: 100%;
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}