@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Open+Sans:ital,wght@1,300&family=Oswald&display=swap');

#content {
  /*margin-top:0%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;*/
  margin: 0 auto;
  max-width: 1600px;
}
#logo_link {
  padding-top: 5px;
}
nav a {
  text-align: center;
  color: white;
  text-decoration:none;
  padding: 35px;
}
.card-img {
  border: 10px solid #5E4A4A;
}
main section img{
  box-sizing: border-box;
}
#hero-msg h1, #hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
#background {
  height: 725px;
}

body div header a img {
  display: block;
}

#Home, #Page2, #SitePlan, #ContactUs {
  left: 0;
}
body {
  text-align: center;
  background-color: #4973bc;
  /*"League Spartan, Open Sans"*/
  font-family: "League Spartan", Arial, sans-serif;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
}
header {
  background-color: black;
  font-family:"Open Sans", Arial, sans-serif;
}
.home-title {
  color: white;
  font-family:"Open Sans", Arial, sans-serif;
  font-size: 2em;
  margin-top: 10px;
}
h4 {
  color: white;
}
nav {
  background-color: steelblue;
  padding: 10px;
}
a {
  color: white;
  margin: 40px;
}
h1 {
  color: red;
}
img {
  width: 800px;
  border: 4px solid steelblue;
}
p {
  padding: 10px;
}
footer {
  background-color: #ee0a0a;
  color: black;
  padding: 25px 50px;
  margin-top: 200px;
  text-align: left;
}
/*.circled {
  border-radius: 50%;
  width: 250px;
  height: auto;
  padding: 20px;
  border: 13px solid #454343;
  margin: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-inline-start: 75px;
  margin-inline-end: 75px;
  margin-left: 100px;
  margin-right: 0px;
  box-sizing: border-box 40px;*/

.social img{
  /*border-radius: 50%;
  width: 250px;
  height: auto;
  padding: 20px;
  border: 13px solid #454343;
  margin: 80px;
  margin-top: 4px;
  margin-bottom: 4px;
  /*margin-inline-start: 75px;
  margin-inline-end: 75px;
  margin-left: 1px;
  margin-right: 0px;
  box-sizing: border-box 10px;*/
  display: inline-block;
  /*text-align: left;*/
}
/*#face {
  width: 4%;
  float: left;
}
#twit {
  width: 4%;
  float:none;
}
#insta {
  width: 4%;
  float: right;
}*/

footer .social img {
  padding-top: 15px;
}
.main-para {
  font-size: 1.5em;
  line-height: 1.5em;
}
#active {
  background-color: white;
  color: red;
}
nav a:hover {
  background-color: #cfd0d2;
  color:black;
  /*background-color: var(--nav-hover-background-color);*/
}
.book, .join {
  background-color: black;
  color: white;
  text-decoration:none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}
.book:hover, .join:hover {
  background-color: black;
  color: white;
}
.msg h2 {
  color: white;
  font-family:"Open Sans", Arial, sans-serif;
}
.msg p{
  color: white;
  font-size: .8em;
  padding-bottom: 15px;
}
#background {
  background-color: #5e4a4a;
}

.msg {
  background-color: #4973bc;
  line-height: 1.5em;
  padding: 35px;
}

footer a{
  color: white;
  text-decoration:none;
}
footer a:hover {
  color: white;
}
footer p {
  font-size: 1.2em;
  display: inline-block;

}
footer div img {
  width: auto;
}
.logo {
  width: 160px;
}
footer p a:hover {
  text-decoration: underline;
}
footer p a {
  text-align: left;
}
footer div a img {
  display: block;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
#hero-img {
  width: 100%;
}