@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Open+Sans:ital,wght@1,300&family=Oswald&display=swap');

#content {
  /*margin-top:0%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;*/
  margin: 0 auto;
  max-width: 1600px;
}
#logo_link {
  padding-top: 5px;
}
nav a {
  text-align: center;
  color: white;
  text-decoration:none;
  padding: 35px;
}
.card-img {
  border: 10px solid #5E4A4A;
}
main section {
  text-align: center;
}
main section img{
  box-sizing: border-box;
}
#hero-msg h1, #hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
#background {
  height: 725px;
}

body {
  background-color: #000000;
  /*"League Spartan, Open Sans"*/
  font-family: "League Spartan", Arial, sans-serif;
  font-size: 22px;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
  color: white
}
header {
  background-color: #2F2F2F;
  font-family:"Open Sans", Arial, sans-serif;
}
.home-title {
  color: white;
  font-family:"Open Sans", Arial, sans-serif;
  font-size: 2em;
  margin-top: 10px;
}
h4 {
  color: white;
}
nav {
  background-color: black;
  padding: 10px;
}

h1 {
  color: #ECECEC;
}

p {
  padding: 10px;
}
footer {
  background-color: #320000;
  color: #ECECEC;
  padding: 25px 50px;
  margin-top: 200px;
  text-align: left;
}

footer .social img {
  display: inline-block;
  padding-top: 15px;
}
.main-para {
  font-size: 1.5em;
  line-height: 1.5em;
}
#active {
  background-color: white;
  color: #320000;
}
nav a:hover {
  background-color: #cfd0d2;
  color:black;
  /*background-color: var(--nav-hover-background-color);*/
}
.book, .join {
  background-color: #ECECEC;
  color: #320000;
  text-decoration:none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}
.book:hover, .join:hover {
  background-color: #320000;
  color: white;
}
.msg h2 {
  color: white;
  font-family:"Open Sans", Arial, sans-serif;
}
.msg p{
  color: white;
  font-size: .8em;
  padding-bottom: 15px;
}
#background {
  background-color: #2F2F2F;
}

.msg {
  background-color: #2F2F2F;
  line-height: 1.5em;
  padding: 35px;
}

footer a{
  color: white;
  text-decoration:none;
}
footer a:hover {
  color: white;
}
footer p {
  font-size: 1.2em;
  /*display: inline-block;*/

}
footer div img {
  width: auto;
}
.logo {
  width: 80px;
}
footer p a:hover {
  text-decoration: underline;
}
footer p a {
  text-align: left;
}
footer div a img {
  display: block;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
#hero-img {
  width: 100%;
}